
//default - mobile first

body.species {

  > main {
    > article {
      min-height: calc(100vh - var(--header-height) - (var(--fitz-2) * 3));
      grid-template-rows: 2fr 1fr 1fr;
    }
  }

  @include media-bp(3) {
    > main {
      > article {
        min-height: calc(100vh -  (var(--fitz-2) * 2));
      }
    }
  }

}
